* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 100px;
    width: 100%;
    background-color: $header_color;
    color: $second_text_color;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.content {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: $content_color;
    padding: 15px;

    display: flex;
    justify-content: flex-start;
    column-gap: 15px;

    overflow: auto;
}

.board {
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    background-color: $board_color;
    padding: 30px 20px;
    border-radius: 6px;

    overflow: auto;

    .avatar {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        right: 15px;
    }

    .board_task {
        width: 100%;
        padding: 20px 15px;
        border-radius: 6px;
        background-color: $task_color;
        margin-top: 15px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;

        position: relative;

        .marks {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 20px;
        
            .marks_item {
                display: flex;
                align-items: center;
                column-gap: 5px;
            
                .icon {
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }   
    }
}