* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: $main_text_color;
    line-height: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: capitalize;
}
